table
{
    font-family: verdana,arial,sans-serif;
    font-size:15px;
    color:#333333;
    border-collapse: collapse;
    border: 1px solid black;
    line-height: 25px;
}

table td
{
    border: 1px solid black;
}



.title
{
    float:left;
    font-family: verdana,arial,sans-serif;
    font-size:14px;
    color:#CCFFFF;
    border: 0px ;
    display: inline-block;
    background-color:#006699;
    text-align:left;
    width:100%;
    margin-bottom:18px;
    font-weight:bold;
}

#find_school
{
    margin-left:24px;
    padding: 25px 50px;
    margin-right:auto;
    margin-bottom:8px;
    border: 1px ;
    border-style: solid;
    border-color:#F4A460;
}

#display_schools 
{
    color:gray;
    margin-top:12px;
    margin-left:2px;
    margin-bottom:32px;
    
}

.school_detail
{
    margin-top:12px;
    margin-bottom:32px;
    border: 0px solid black;
    background-color:#F5DEB3;
    padding: 20px 20px;
    
}

#display_schools a
{
    font-family: verdana,arial,sans-serif;
    font-size:32px;
    text-decoration: none;
    color:#F4A460;
}

#display_schools span
{
    display:inline-block;
    width:120px;
}

#find_school h2
{
    color:#E9967A;
}




#find_school input
{
    margin-top:12px;
    color:gray;
    height: 32px;
}

.counter
{
    color:#006699;
    background-color:#CCFFFF;
    display: inline-block;
    width: 60px;
    text-align:center;
}
.container
{
    float:left;
    display: inline-block;
}

body {
    width: 820px;
    background-color:#FFF8DC;
    margin-left:auto;
    margin-right:auto;
}

.wrapper {
    overflow: auto;
    margin: auto;
    width: 820px;
}
.group_div
{
    border: 1px solid black;
    overflow:hidden;
    /*background-image:url('background.jpeg');*/
    background-color:blue;
}
